/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.headerText {
	color: #777777;
	margin: 40px 0px 70px;
	border-top: darkgray;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
	background-color: #99cccc;
}

/** ******* My css ******* **/

/** css of the DockLayoutPanel **/
.gwt-DockLayoutPanel  {
	padding: 3px;
	border: 1px solid #BBBBBB;
	font-style: normal;
	background-color: white;
}

.gwt-DockLayoutPanelUp  {
	padding: 3px;
	border-top: 1px solid #BBBBBB;
	font-style: normal;
	background-color: white;
}

/** css of the Tree and Tree Items **/
.gwt-Tree .gwt-TreeItem {
  padding: 1px 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}
.gwt-Tree .gwt-TreeItem-selected {
	background-color: InactiveCaption;
	font-weight: bold;
	font-family: arial, helvetica, serif;
	font-size: small;
}

/** --------------- css of the buttons -------------- **/
.button {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	cursor: pointer;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


/** --------------- CSS of the Text Box --------------------**/
.gwt-TextBox {
	padding: 5px 4px;
	border-top: 1px solid #999;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: x-large;
	font-family: "Calibri";
	background-color: white;
}
.gwt-TextBox-readonly {
  color: #888;
}

/** --------- CSS of the Text Area ---------**/
.gwt-TextArea {
	padding: 4px;
	border-top: 1px solid #666;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: x-large;
	font-family: "Calibri";
	background-color: white;
}
.gwt-TextArea-readonly {
  color: #888;
}

/**  ------- css of the pop up  ---------**/
.gwt-DialogBox .Caption {
  background: #F1F1F1;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #D2D2D2;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
html>body .gwt-DialogBox {
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 10px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 10px;
  height: 12px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.cw-DialogBox {}


/** -------------- css of the image links --------------- **/
.imageLink {
	cursor: pointer;
}


/** -------------- css of the labels -----------**/
.textBoldLarge {
	color: Black;
	font-size: large;
	font-family: "Calibri";
	font-weight: bold;
}
.textBold {
	font-weight: bold;
}
.textBoldSmall {
	color: Black;
	font-size: small;
	font-family: "Calibri";
	font-weight: bold;
}
.textBoldSmallBlue {
	color: #4465A2;
	font-size: small;
	font-family: "Calibri";
	font-weight: bold;
}
.textSmall {
	color: Black;
	font-size: small;
	font-family: "Calibri";
}
.textLabelMenu {
	color: #000000;
	border: 1px solid #BBBBBB;
	font-size: x-small;
	font-family: sans-serif, serif;
	font-weight: normal;
	background-color: #E4EAF8;
	cursor: help;
}
.textLarge {
	color: Black;
	font-size: large;
	font-family: "Calibri";
}
.definitionLabel {
	color: darkgreen;
	font-family: "Calibri";
}
.errorLabel {
	color: red;
	font-family: "Calibri";
}
.warningLabel {
	color: #808000;
	font-family: "Calibri";
}
.xmlLabel { 
	color: darkblue;
	font-family: Courier New;
	text-indent: 4px;
	white-space: pre; 
} 

/** --------- css of the text box ----------- **/
.textBox {
	color: #333333;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 3px;
	border: 1px solid ButtonShadow;
	font-size: x-large;
	font-family: tahoma, arial, sans-serif;	
}

.errorTextBox {
	background: #FFCCCC;
}

.warningTextBox {
	background: #FEFFB3;
}

/** -------------- css of the backgrounds ----------- **/
.backgroundLightBox {
	padding: 3px;
	border: 1px solid #BBBBBB;
	background-color: white;
	text-align: left;
}
.backgroundDarkTop{
	padding: 3px;
	border-top: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 0px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: #E4EAF8;
	text-align: left;
}
.backgroundDarkBottom {
	padding: 3px;
	border-top: 0px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: #E4EAF8;
	text-align: left;
}
.backgroundLightTop {
	padding: 3px;
	border-top: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 0px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: white;
	text-align: left;
}
.backgroundLightBottom {
	padding: 3px;
	border-top: 0px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: white;
	text-align: left;
}
.backgroundLight {
	padding: 3px;
	border-top: 0px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 0px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: white;
	text-align: left;
}
.backgroundDark {
	padding: 3px;
	border-top: 0px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 0px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
	background-color: #E4EAF8;
	text-align: left;
}

.backgroundDarkBox {
	padding: 3px;
	border: 1px solid #BBBBBB;
	background-color: #E4EAF8;
	text-align: left;
}

/** -------------- css of the check box -----------**/
.checkbox {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(images/checkbox.png) no-repeat;
  display: block;
  clear: left;
  cursor:pointer;
  float: left;
}

/** -------------- css of the scroll panel ----------- **/
.scrollPanel {
  margin: 0px;
  border-bottom: 1px solid #BBBBBB;
}

.paddingTop{
  padding-top: 10px;
  padding-bottom: 10px;
}

.background {
    background: url(images/background.png) repeat;
}
.imageHeader {
	margin: 10px 0px 0px 0px;
}
.footer {
    margin: 5px 0px 0px 0px;
	padding-top: 15px;
	background: url(images/footer.png) repeat;
	color: white;
	font-size: small;
	font-family: "Calibri";
}
.whiteBackground {
	background-color: white;
}
.textBoldLargeBlue {
	color: #000000;
	font-size: large;
	font-family: Calibri;
}
.tabLayoutPanel {
	margin: 0px 0px 0px 0px;
}
